
   <div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card col-md-3 p-4" style="background-color: #ECEDEF;">
      <h4 class="mb-3 text-center">Sign Up</h4>
      <form>
        <div class="mb-3">
          <input  type="text" class="form-control" placeholder="Enter Your Email"  style="color: black; border: 1px solid black;">
        </div>
    
        <div class="mb-3">
          <input type="email" class="form-control black-border" placeholder="Enter Your Full Name" style="color: black; border: 1px solid black;">
        </div>
  
        <div class="mb-3">
          <input type="password" class="form-control black-border" placeholder="Enter your password"  style="color: black; border: 1px solid black;">
        </div>
        <div class="mt-4"> 
          <button class="btn w-100" style="background-color: #C2F578; color: black;">Sign Up</button>
        </div>
        <div class="mt-5 ">
          <p class="text-center fw-semibold">Already have an account? <span class="text-decoration-underline">Login</span></p>
        </div>
      </form>
    </div>
  </div>
  