<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <img src="assets/fig1.svg" class="img-fluid" alt="Logo" style="max-height: 40px;">
        <p class="fw-bold mb-0 ms-2">ClassIQ</p>
        <span class="ms-3">Cources</span>
      </div>
  
      <div class="d-flex align-items-center">
        <button class="btn btn-dark" type="button" (click)="toggleLoginForm()" >Login</button>
      <button class="btn btn-dark ms-2" type="button" (click)="toggleSignUpForm()">Signup</button>
      </div>
    </div>
  </nav>
  