<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card col-md-3 p-4" style="background-color: #ECEDEF;">
      <h4 class="mb-3 text-center">Login</h4>
      <form>
        <div class="mb-3">
          <input  type="text" class="form-control" placeholder="Enter Your Email"  style="color: black; border: 1px solid black;">
        </div>
    
        <div class="mb-3">
          <input type="password" class="form-control black-border" placeholder="Enter your password"  style="color: black; border: 1px solid black;">
        </div>
        <div class="mt-5"> 
          <button class="btn w-100" style="background-color: #C2F578; color: black;">Sign In</button>
        </div>
        <div class="mt-5 ">
          <h6 class="text-center fw-semibold ">Don't have an account? SignUp</h6>
        </div>
      </form>
    </div>
  </div>
  
