<div class="container mt-4" style="background-color: #ECEDEF;">
    <div class="row">
      <div class="col-md-6 mt-5 ">
        <p class="fw-bold p-3">Enroll in Your Fav Courses</p>
      </div>
      <div class="col-md-6 text-end">
        <img src="assets/fig5.png" class="img-fluid" alt="Course Image">
      </div>
    </div>
</div>


  <div class="container mt-5 mb-4">
    <div class="d-flex align-items-center">
        <h4 class="fw-semibold">All Courses</h4>
        <i class="fa-solid fa-square-up-right ms-2"></i>
      </div>
      
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="card card-custom"  style="background-color: #ECEDEF;">
        </div>
      </div>
      <div class="col-md-4" >
        <div class="card card-custom" style="background-color: #ECEDEF;">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-custom" style="background-color: #ECEDEF;">
        </div>
      </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card card-custom" style="background-color: #ECEDEF;">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-custom"  style="background-color: #ECEDEF;">
            </div>
          </div>
          <div class="col-md-4" >
            <div class="card card-custom" style="background-color: #ECEDEF;">
            </div>
          </div>
    </div>
  </div>

