body {
    font-family: 'Poppins';
}
   
  .card-custom {
     width: 333px;
     height: 288px;
     background: #ECEDEF;
     box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
      border-radius: 31px;
       flex: none;
       order: 0;
      flex-grow: 0;
      }
      .card-img-top {
        height: 120px;
        object-fit: cover; 
      }
      .btn-custom {
        background-color: #C2F578;
        color: black;
      }
      
     